{% extends "base.html" %}

{% block title %}
  Лента записей
{% endblock %}

{% block content %}
  <h1>Лента записей</h1>
  
  <hr>
  
  <article>
    <ul>
      <li>Место: Остров отчаянья</li>
      <li>Дата: 25 октября 1659 года</li>
      <li>
        Категория: 
        <a href="{% url 'blog:category' category_slug='not-my-day' %}">
          not-my-day
        </a>
      </li>
    </ul>
    
    <p>
      Всю ночь и весь день шел дождь и дул сильный ...
    </p>
    
    <a href="{% url 'blog:detail' id=1 %}">
      Читать полный текст
    </a>
  </article>
  
  <hr>
  
  <article>
    <ul>
      <li>Место: Остров отчаянья</li>
      <li>Дата: 1 октября 1659 года</li>
      <li>
        Категория: 
        <a href="{% url 'blog:category' category_slug='not-my-day' %}">
          not-my-day
        </a>
      </li>
    </ul>
    
    <p>
      Проснувшись поутру, я увидел, что наш корабль сняло с мели ...
    </p>
    
    <a href="{% url 'blog:detail' id=2 %}">
      Читать полный текст
    </a>
  </article>
  
  <hr>
  
  <article>
    <ul>
      <li>Место: Остров отчаянья</li>
      <li>Дата: 30 сентября 1659 года.</li>
      <li>
        Категория:
        <a href="{% url 'blog:category' category_slug='travel' %}">
          travel
        </a>
      </li>
    </ul>
    
    <p>
      Наш корабль, застигнутый в открытом море страшным штормом, потерпел крушение. ...
    </p>
    
    <a href="{% url 'blog:detail' id=3 %}">
      Читать полный текст
    </a>
  </article>
{% endblock %}